input:hover, 
input:active, 
input:focus,
button:hover, 
button:active, 
button:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.navbar{
    background-color: rgb(0, 6, 88);
}


  a{
    text-decoration: none;
  }

  
.form-control{
  font-size: 1em;
  background-color: transparent;
  color: white;
  width: 400px;
  margin-right: 5px;
}

.btn-search{
  color: #ffffff;
  background-color: transparent;
  border: transparent;
}

.search-bar{
  padding: 5px;
  color: white;
  height: auto;
  background-color: rgb(0, 4, 54);
  border-radius: 20px;
}

.form-control{
  border: none;
}
.form-control:focus{
  border: none;
}