<nav class="navbar navbar-expand navbar-ligth">
    <div class="p-1 navbar-brand"> <a routerLink="" class="text-dark h4">
            <span class="text-white">Price</span>
            <span class="text-warning">Of</span>
        </a>
        <span class="text-white"> {{query | titlecase}} </span>
    </div>
    <div class="search-bar ml-auto">

        <form class="form d-flex" (submit)='search()'>
            <input class="form-control" [(ngModel)]="keyword" type="search" name="search" id="search"
                placeholder="Search... ex. Iphone 11, Samsung A50">
            <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="p-3">
        <a href="#" class="h2 text-light"><i class="fa fa-github"></i></a>
    </div>
</nav>