
<div class="container-fluid">
    <div class="wrapper p-2">
        <div class="d-flex flex-row justify-content-left">
            <h1 class="title text-warning">Discover</h1>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <section class="rw-wrapper">
                <h3 class="rw-sentence">
                    <span >the price of </span>
                    <div class="rw-words rw-words-2">
                        <span>phones</span>
                        <span>cameras</span>
                        <span>laptops</span>
                        <span>smart tv</span>
                        <span>games</span>
                        <span>anything</span>
                    </div>
                </h3>
            </section>
        </div>
    </div>
    <footer class="fixed-bottom p-1">
        <div class="d-flex flex-row justify-content-center text-white">
            <div class="p-1">powered by: BestBuy Api</div>
        </div>
    </footer>
</div>